@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Kantumruy+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Odor+Mean+Chey&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kantumruy Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    background-color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Brygada 1918', 'Odor Mean Chey', serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.body_wrapper {
    display: grid;
    grid-template-columns: 280px auto;
    gap: 20px;
    background-color: #FFF;
    padding: 20px;
    position: relative;
}

.navbar {
    margin-top: 50px;
    height: 100%;
}

.navbar .navbar_wrapper {
    position: sticky;
    top: 20px;
    left: 0;
    padding-top: 0;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.navbar .navbar_wrapper ul {
    padding-left: 0;
}

.navbar .navbar_wrapper a {
    color: #000;
    text-decoration: none;
}

.navbar .navbar_wrapper a:hover,
.navbar .navbar_wrapper a:active {
    text-decoration: underline;
}

.navbar .navbar_wrapper ul li {
    list-style: none;
    padding-top: 10px;
}

.navbar .navbar_wrapper ul li ul {
    padding-left: 20px;
}