@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kantumruy Pro', sans-serif;
}

:root {
    --red: #900;
    --yellow: #c67000;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 3px solid var(--red);
}

.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }

.mb-10 { margin-bottom: 10px; }

.text-center { align-items: center; }

.link { text-decoration: none; color: var(--red); }

.header_container {
    display: grid;
    grid-template-columns: 120px auto;
    padding: 10px 0;

}

.header_container .brand img {
    height: 100px;
}

.header_container #navbar ul {
    padding-left: 0;
}
.header_container #navbar ul li {
    list-style: none;
    display: block;
    float: left;
}
.header_container #navbar ul li a {
    color: var(--red);
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 5px;
    font-weight: 500;
}
.header_container #navbar ul li:not(:last-child) a {
    border-right: 1px solid #000;
}

.header_container h2 {
    display: block;
    clear: both;
    font-size: 24px;
    margin-top: 30px;
}
.header_container h4 {
    display: block;
    clear: both;
    font-size: 14px;
    margin-top: 10px;
}
.header_container p {
    font-size: 12px;
    text-align: end;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main_nav {
    background-color: var(--red);
}
.main_nav ul {
    display: flex;
    flex-direction: row;
}
.main_nav ul {
    padding-left: 0;
}
.main_nav ul li {
    list-style: none;
}
.main_nav ul li a {
    color: #FFF;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    text-decoration: none;
}
.main_nav ul li a:hover {
    background-color: var(--yellow);
}

#carousel .carousel_items .carousel_item {
    position: relative;
}
#carousel .carousel_items .carousel_item img {
    width: 100%;
}
#carousel .carousel_items .carousel_item .caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    color: #FFF;
    padding: 10px;
}

#content .content_inner {
    display: grid;
    grid-template-columns: 66.66% 33.33%;
}

#content .content_inner .content_right {
    padding-left: 20px;
}